*{
    margin: 0;
    padding: 0;
    box-sizing: border;
}
body{
    width: 100%;
    height: 100%;
    background-color: black ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    flex-direction: column;
}
#logo{
    width: 25vw;
    /* height: 200%; */
}
h1{
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#name{
    color: rgb(212, 43, 122);
    font-size: 45px;
}
#va{
    color: rgb(43, 206, 212);
}
#voice{
    width: 150px;
    display: none;
}
#btn{
    border-radius: 20px;
    width: 25%;
    background: linear-gradient(to right,rgb(21,145,207),rgb(201,41,116));
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
    color: white;
    box-shadow: 2px 2px 10px rgb(21,145,207),2px 2px 10px rgb(201,41,116);
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}
#btn:hover{
    box-shadow: 2px 2px 10px rgb(21,145,207),2px 2px 10px rgb(201,41,116);
    letter-spacing: 2px;
}
